*{
    margin:0;
    padding:0;
}
body{
    width: 100%;
    height: 100%;
}
.fas{
    color: #fff;
    cursor: pointer;
    /* padding: 5px 20px 5px */
}
.content-body{
    position: absolute;
    top: 40px;
}


.headerbar{
    background-color: #db4c3f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width:100%;
    /* heigh; */
    z-index: 2;
    /* margin-left:  30px;
    margin-right: 30px; */
}

.content-body{
    display: flex;
}
/* #content-main{
    display: flex;
} */

/* body{
    display: flex;
    
} */


.right-header-icons,.left-header-icons{
    padding: 12px 40px;
}
.left-header-icons > .fas{
padding-left: 15px;
}